body {
    background-image: url(./240_F_281962863_P2Dc2wTzrn32vm3Wg21hoEAywghxVuDk.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    height: 1080px;
    align-items: center;
    display: flex;       
    align-items: center;     
    flex-direction: column; 
    justify-content: start;  
}

.inicio {
    align-items: center;
    justify-content: center;    
    border: 2px solid #5c44e4;
    border-radius: 98px;
    background-color: #87CEEB;
    height: 50px;
    width: 390px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    display: flex;
}

th {
    font-weight: bold;
    font-size: 15px;
}

td,
th {
    border: 2px solid #5c44e4;
    border-radius: 90px;
    background-color: #87CEEB;
    height: 50px;
    padding: 5px;
    text-align: center;
    height: 50px;
    width: 150px;
}

#addLinha {
    border: 2px solid #5c44e4;
    border-radius: 98px;
    height: 50px;
    width: 190px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: #87CEEB;
    cursor: pointer;
    display: block;
    margin: 10px 10px 10px 470px;
}

#tabelaAgenda th {
    background-color: #87CEEB;
}

#tabelaAgenda button {
    border: 2px solid #5c44e4;
    border-radius: 20px;
    background-color: #87CEEB;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#tabelaAgenda input,
select {
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    outline: none;
}

.btnExcluir {
    width: 25px;
    height: 40px;
    font-size: 18px;
}