body {
    background-image: url(./240_F_281962863_P2Dc2wTzrn32vm3Wg21hoEAywghxVuDk.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
    height: 100%;             
   

.inicio {
    border: 2px solid #5c44e4;
    border-radius: 98px;
    background-color: #87CEEB
    height: 50px;
    width: 290px;
    padding: 2px 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: black;
    text-align: center;
}

.th {
    border: 2px solid #5c44e4;
    border-radius: 90px;
    background-color: #87CEEB    
    height: 50px;
    padding: 2px 10px 2px 10px;
}

td {
    border: 2px solid #5c44e4;
    border-radius: 90px;
    background-color: #87CEEB   
    height: 50px;    
    padding: 5px;
    text-align: center;
}

#addLinha {
border: 2px solid #5c44e4;
    border-radius: 98px;
    height: 50px;
    width: 190px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: #87CEEB;
    cursor: pointer;
    margin: 50px auto;
    display: block;
}

#tabelaAgenda button{
    background-color: #87CEEB;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#tabelaAgenda input {
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: transparent;
}

.btnExcluir {
    width: 25px;
    height: 40px;
    font-size: 18px;
}

