body {
    background-image: url(./desenho-e-padrao-floral-textil_1085731-463.avif);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
    height: 100%;             
}

.p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    text-align: center;
}


.inicio {
    border: 2px solid #f896bf;
    border-radius: 98px;
    background-color: rgb(252, 225, 243);
    color: black;
    font-weight: bolder;
    height: 50px;
    width: 290px;
    padding: 2px 10px 2px 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.th {
    border: 2px solid #f896bf;
    border-radius: 90px;
    background-color: rgb(252, 225, 243);
    color: black;
    height: 50px;
    width: 290px;
    padding: 2px 10px 2px 10px;
}

td {
    border: 2px solid #f896bf;
    border-radius: 90px;
    background-color: rgb(252, 225, 243);
    color: black;
    height: 50px;
    width: 290px;
    padding: 2px 10px 2px 10px;
}

#addLinha {
    border: 2px solid #f896bf;
    border-radius: 90px;
    background-color: rgb(252, 225, 243);
    color: black;
    height: 50px;
    width: 100px;
    padding: 2px 10px 2px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 10px 10px 850px;
}

#tabelaAgenda button{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#tabelaAgenda input{
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    
}


.btnExcluir {
    width: 25px;
    height: 40px;
}


.tarefa {

}
.time {

}