body {
    margin: 0px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    padding: 10px 50px 10px 50px;
}

#cabecalho img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
}

#cabecalho h1 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-style: italic;
    text-decoration: underline overline;
    color: white;
}

.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;
}

.pesquisa input {
    height: 50px;
    width: 500px;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}

.card-grupo {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;

}

.card-pet {
    height: 420px;
    width: 300px;
    border-radius: 34px;
    background-size: cover;
    margin-left: 20px;
}

.card-pet p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 300px;
    margin-left: 20px;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet:hover {
    box-shadow: 17px 11px 45px -2px gray;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.grupo-membros {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 442px;
    background-color: black;
    padding: 50px;
}

.card-membros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: white;
    border-radius: 85px;
}

.card-esquerdo {
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.botao-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 77px;
    width: 100%;
    border-radius: 70px;
    color: white;
}

.card-direito {
    height: 269px;
    width: 400px;
    background-image: url(imagens/GATO\ AMARELO.jpg);
    background-size: cover;
    border-radius: 50px;
}

.grupo-dicas {
    display: flex;
    margin: 148px 260px 40px 260px;
}

.grupo-dicas-direito {
    width: 50%;
    text-align: center;
}

.grupo-dicas-direito img {
    height: 814px;
    width: 736px;
    border-radius: 20px;
}

.grupo-dicas-esquerdo {
    width: 50%;
}

.grupo-dicas-esquerdo h1 {
    font-size: 31px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-block-start: 0px;
}

.grupo-dicas-esquerdo h2, h3, h4, h5 {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #5c5c5c;
}

.grupo-dicas-esquerdo p {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5c5c5c;
}

.rodape {
    background-color: black;
}

.rodape-titulo {
    text-align: center;
    margin-top: 50px 0px 50px 0px
}

.rodape-titulo h1 {
    padding: 50px 0px 50px 0px;
    color: #FFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rodape-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-pesquisa input {
    height: 58px;
    width: 384px;
    background-color: black;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    outline: none;
    color: #c4c4c4;
    font-size: 22px;
    padding-left: 20px;
}

.botao-assinar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: ;
    width: 230px;
    height: 61px;
    background-color: #edc154;
    border-radius: 10px;
    margin-left: 40px;
    cursor: pointer;
}

.botao-assinar p {
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.rodape-grupo-menu {
    color: white;
    display: flex;
    justify-content: space-between;
}

.grupo-itens ul {
    display: flex;
    margin-bottom: 0px;
}

.grupo-itens li {
    margin: 46px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    cursor: pointer;
}

.rodape-menu {
    margin-top: 50px;
}

.rodape-linha {
    height: 5px;
    width: 100%;
    background-color: #FFFFFF;
}